/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* base styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* top section styles */
.top-section{
    display: flex;
    justify-content: center;
}
.top-banner{
    display: flex;
    color: #ffffff;
    background-color: #161616;
    border-radius: 30px;
    width: 90%;
    margin: 30px 0;
}
.top-banner div{
    width: 100%;
}
.texts{
    margin:  2px 100px;
}
.texts h1{
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 10px ;
}
.texts p{
    margin-bottom: 20px;
    font-weight:400;
    font-size: 16px;
}
.top-banner-btn{
    width: 187px;
    height: 56px;
    font-size: 20px;
    color: white;
    background: #DD0000;
    border-radius: 5px;
    border: none;
}
.top-image{
    margin-left: -80px;
}
.top-banner .top-image img{
    height: 100%;
    width: 90%;
}