/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* base styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
section{
    margin-bottom: 100px;
}
.for-tab-view{
    display: none;
}

/* top section styles */
.top-section{
    display: flex;
    justify-content: center;
}
.top-banner{
    display: flex;
    
    background-color: #161616;
    border-radius: 30px;
    width: 90%;
    margin: 30px 0;
}
.top-banner div{
    width: 50%;
}
.texts{
    color: #ffffff;
    margin:  0 100px;
}
.texts h1{
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 10px ;
}
.texts p{
    margin-bottom: 20px;
    font-weight:400;
    font-size: 16px;
}
.top-banner-btn{
    width: 187px;
    height: 56px;
    font-size: 20px;
    color: white;
    background: #DD0000;
    border-radius: 5px;
    border: none;
}
.top-image{
    margin-left: -80px;
}
.top-banner .top-image img{
    height: 100%;
    width: 90%;
}

/* 2nd section styles */
.second-section{
    display: flex;
    justify-content: center;
}
.second-part{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.sidebar{
    width: 250px;
    height: 250px;
    position: relative;
    background-color: #161616;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items:center;
    align-items:center; 
}
.sidebar div{
    width: 200px;
    height: 60px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    display: grid;
    align-items: center;
   
}
#Blog{
    background-color: #DD0000;
    color: white;
}

/* ----------------
        blog styles 
     ---------------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;
}
.blog{
    width: 300px;
    height: 350px;
    border: 1px solid rgb(247, 233, 233);
    border-radius: 10px;
    margin:0 5px 5px;  
}
.blog img{
    width: 300px;
}
.transfer-info{
    font-weight: 600;
}
.blog button,p{
    margin-left: 10px;
}

/* footer styles */
footer{
    height: 444px;
    background-color:#161616;
    color: white;
}
.last-part h2{
    font-weight: 600px;
    font-size: 40px;
    text-align: center;
    padding-top: 130px;
    
}
hr{
    border: 1px solid rgba(248, 228, 228, 0.123);
    width: 80%;
}
.footer-info{
    display: flex;
    justify-content:center;
}
.footer-info div p{
    color: #B9B9B9;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 20px 15px;
}

/* media queries 
  For Mobile  */
@media only screen and (max-width:576px) {
    section{
        margin-bottom: 0px;
    }
    .top-banner{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center ;
        align-self: center;
    }
    .texts{
        margin: 0;
        text-align: center;
    }
    .top-banner div{
        width: 100%;
        
    }
    .texts h1{
        font-size: 28px;
        line-height: 44px;
    }
    .top-image{
        margin-left: 12%;
        margin-top: 5%;
    }
   .second-part{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-self: center;
    justify-items: center;
   } 
   .sidebar{
    background-color: white;
    margin-bottom: 20px;
   }
   .for-border{
    border: 1px solid rgb(211, 202, 202);
   }
   .blogs{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 0;
    
   }
   footer{
    height: 525px;
   }
   
   .footer-info{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
   }
   .last-part h2{
    padding-top: 30px;
   }
}

/* media queries for tab view  */
@media only screen and (min-width: 577px) and (max-width: 768px) {
    section{
        margin-bottom: 0;
    }
    .texts{
        margin: 0 50px;
    }
    .texts h1{
        font-weight: 500;
        font-size: 43px;
        line-height: 53px;
    }
    .texts p{
        font-weight: 200;
        font-size: 13px;
    }
    .top-banner-btn{
        margin-bottom: 25px;
    }
    .second-part{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        
    }
    .sidebar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 67px;
        background-color: white;
    }
    .for-border{
        border: 1px solid rgb(211, 202, 202);
    }
    article{
        margin-top: 25px;
    }
    .blogs{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        
    }
    .hidden{
        display: none;
    }
    .for-tab-view{
        display: flex;
        justify-content: center;
    }
    .last-part h2{
        padding-top: 80px;
    }
    .footer-info{
        display: flex;
        flex-wrap: wrap;
    }
}



